[submodule "games/t-rex-runner"]
	path = games/t-rex-runner
	url = https://github.com/wayou/t-rex-runner.git
[submodule "games/M64js"]
	path = games/M64js
	url = https://github.com/Browncha023/M64js.git
